<!doctype html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/style.css?v=1">
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/jquery.min.js"></script>
  <script src="js/data/conditions.js"></script>
  <script src="js/dropdown.js"></script>
</head>

<body>

<div id="container">
  <header>
    <h1>Foods</h1>
  </header>
  <div id="main" role="main">
    <select name="conditions" id="conditions">
      <script type="text/template" class="template">
        <option value="<%= key %>"><%= value %></option>
      </script>
    </select>
  </div>
  
  <footer>

  </footer>
</div> <!--! end of #container -->
</body>
</html>
