<!doctype html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/style.css?v=1">
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/jquery.min.js"></script>
  <script src="js/data/foods.js"></script>
  <script src="js/data/nutrients.js"></script>
  <script src="js/script.js"></script>
</head>

<body>

<div id="container">
  <header>
    <h1>Nutrition Networks</h1>
  </header>
  <div id="main" role="main">
    <h3>Nutrients</h3>
    <ul id="nutrients">
      <script type="text/template" class="template">
        <li><%= nutrient %></li>
      </script>
    </ul>
    <h3>Foods</h3>
    <ul id="foods">
      <script type="text/template" class="template">
        <li>
          <strong><%= food %></strong>
          <ul>
            <% _(nuts).each(function(nut) { %>
              <li><% print(nutrients[nut.id].name || 'unkown'); %>:
                  <span class="bar" style="width:<% print(Math.floor(nut.amount)/3); %>px;height:15px;background:#090;display:inline-block;color:#999;"><%=nut.amount%></span></li>
            <% }); %>
          </ul>
        </li>
      </script>
    </ul>
  </div>
  
  <footer>

  </footer>
</div> <!--! end of #container -->
</body>
</html>
