<!doctype html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/style.css?v=1">
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/jquery.min.js"></script>
  <script src="js/data/foods.js"></script>
  <script src="js/data/recommendations.js"></script>
  <script src="js/data/nutrients.js"></script>
  <script src="js/rdi.js"></script>
</head>

<body>

<div id="container">
  <header>
    <h1>Foods</h1>
  </header>
  <div id="main" role="main">
    <div id="foods">
      <script type="text/template" class="template">
        <h3><%= key %></h3>
      </script>
      <script type="text/template" class="inner-template">
        <%= key %>: <%= value %>% <bar style="width:<%= width %>px"></bar><br/>
      </script>
    </div>
  </div>
  
  <footer>

  </footer>
</div> <!--! end of #container -->
</body>
</html>
